In [1]:
import pandas as pd

In [2]:
filePath = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv'
iris = pd.read_csv(filePath)
iris.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [4]:
iris_encoding = pd.get_dummies(iris)
iris_encoding.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [5]:
iris.isna().sum()

꽃잎길이     0
꽃잎폭      1
꽃받침길이    0
꽃받침폭     0
품종       0
dtype: int64

In [6]:
iris.tail()

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
145   6.7  3.0    5.2   2.3   2
146   6.3  2.5    5.0   1.9   2
147   6.5  3.0    5.2   2.0   2
148   6.2  3.4    5.4   2.3   2
149   5.9  NaN    5.1   1.8   2

In [8]:
mean = iris['꽃잎폭'].mean()
print(mean)
iris['꽃잎폭'] = iris['꽃잎폭'].fillna(mean)
iris.tail()

3.0543624161073835

     꽃잎길이       꽃잎폭  꽃받침길이  꽃받침폭  품종
145   6.7  3.000000    5.2   2.3   2
146   6.3  2.500000    5.0   1.9   2
147   6.5  3.000000    5.2   2.0   2
148   6.2  3.400000    5.4   2.3   2
149   5.9  3.054362    5.1   1.8   2