[github link](https://github.com/blackdew/tensorflow1)

In [10]:
import pandas as pd
import tensorflow as tf

# 1. 데이터 준비

In [2]:
lemonade = pd.read_csv('lemonade.csv')
lemonade

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48
5  25   50

In [3]:
boston = pd.read_csv('boston.csv')
boston

        crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [4]:
iris = pd.read_csv('iris.csv')
iris

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭         품종
0     5.1  3.5    1.4   0.2     setosa
1     4.9  3.0    1.4   0.2     setosa
2     4.7  3.2    1.3   0.2     setosa
3     4.6  3.1    1.5   0.2     setosa
4     5.0  3.6    1.4   0.2     setosa
..    ...  ...    ...   ...        ...
145   6.7  3.0    5.2   2.3  virginica
146   6.3  2.5    5.0   1.9  virginica
147   6.5  3.0    5.2   2.0  virginica
148   6.2  3.4    5.4   2.3  virginica
149   5.9  3.0    5.1   1.8  virginica

[150 rows x 5 columns]

In [5]:
print(lemonade.shape)
print(boston.shape)
print(iris.shape)

(6, 2)
(506, 14)
(150, 5)

In [6]:
# 컬럼이름 출력
print(lemonade.columns)
print(boston.columns)
print(boston.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [7]:
X = lemonade[['온도']]
y = lemonade[['판매량']]
print(X.shape, y.shape)

(6, 1) (6, 1)

In [8]:
lemonade.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

# 모델의 구조

In [13]:
input_model = tf.keras.layers.Input(shape=[1])
output_model = tf.keras.layers.Dense(1)(input_model)
model = tf.keras.models.Model(input_model,output_model)
model.compile(loss='mse')

# 모델의 학습

In [14]:
model.fit(X,y, epochs = 10)

Epoch 1/10
1/1 [==============================] - 1s 576ms/step - loss: 1163.7272
Epoch 2/10
1/1 [==============================] - 0s 8ms/step - loss: 1158.6493
Epoch 3/10
1/1 [==============================] - 0s 12ms/step - loss: 1154.9762
Epoch 4/10
1/1 [==============================] - 0s 6ms/step - loss: 1151.9067
Epoch 5/10
1/1 [==============================] - 0s 9ms/step - loss: 1149.1870
Epoch 6/10
1/1 [==============================] - 0s 7ms/step - loss: 1146.6982
Epoch 7/10
1/1 [==============================] - 0s 6ms/step - loss: 1144.3746
Epoch 8/10
1/1 [==============================] - 0s 6ms/step - loss: 1142.1757
Epoch 9/10
1/1 [==============================] - 0s 4ms/step - loss: 1140.0732
Epoch 10/10
1/1 [==============================] - 0s 4ms/step - loss: 1138.0485

# 모델의 이용

In [15]:
model.predict(y)

array([[20.237015],
       [21.248001],
       [22.258986],
       [23.269972],
       [24.280958],
       [25.291945]], dtype=float32)

In [17]:
y

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [18]:
model.predict([[15]])

array([[7.599691]], dtype=float32)