[github link](https://github.com/blackdew/tensorflow1)

In [10]:
import pandas as pd
import tensorflow as tf

# 1. 데이터 준비

In [2]:
lemonade = pd.read_csv('lemonade.csv')
lemonade

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48
5  25   50

In [3]:
boston = pd.read_csv('boston.csv')
boston

        crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [4]:
iris = pd.read_csv('iris.csv')
iris

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭         품종
0     5.1  3.5    1.4   0.2     setosa
1     4.9  3.0    1.4   0.2     setosa
2     4.7  3.2    1.3   0.2     setosa
3     4.6  3.1    1.5   0.2     setosa
4     5.0  3.6    1.4   0.2     setosa
..    ...  ...    ...   ...        ...
145   6.7  3.0    5.2   2.3  virginica
146   6.3  2.5    5.0   1.9  virginica
147   6.5  3.0    5.2   2.0  virginica
148   6.2  3.4    5.4   2.3  virginica
149   5.9  3.0    5.1   1.8  virginica

[150 rows x 5 columns]

In [5]:
print(lemonade.shape)
print(boston.shape)
print(iris.shape)

(6, 2)
(506, 14)
(150, 5)

In [27]:
# 컬럼이름 출력
print(lemonade.columns)
print(boston.columns)
print(iris.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [29]:
iris_encoding = pd.get_dummies(iris)
iris_encoding.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0
2   4.7  3.2    1.3   0.2          1              0             0
3   4.6  3.1    1.5   0.2          1              0             0
4   5.0  3.6    1.4   0.2          1              0             0

In [30]:
X = iris_encoding[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
y = iris_encoding[['품종_setosa', '품종_versicolor', '품종_virginica']]
print(X.shape, y.shape)

(150, 4) (150, 3)

In [31]:
iris_encoding.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0
2   4.7  3.2    1.3   0.2          1              0             0
3   4.6  3.1    1.5   0.2          1              0             0
4   5.0  3.6    1.4   0.2          1              0             0

# 모델의 구조

In [32]:
X_input = tf.keras.layers.Input(shape=[4])
Y_output = tf.keras.layers.Dense(3, activation='softmax')(X_input)
model = tf.keras.models.Model(X_input, Y_output)
model.compile(loss='categorical_crossentropy',
              metrics='accuracy')

# 모델의 학습

In [33]:
#model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(X, y, epochs=100)

Epoch 1/100
5/5 [==============================] - 0s 3ms/step - loss: 5.5214 - accuracy: 0.3333
Epoch 2/100
5/5 [==============================] - 0s 2ms/step - loss: 5.3650 - accuracy: 0.3333
Epoch 3/100
5/5 [==============================] - 0s 3ms/step - loss: 5.2512 - accuracy: 0.3333
Epoch 4/100
5/5 [==============================] - 0s 3ms/step - loss: 5.1522 - accuracy: 0.3333
Epoch 5/100
5/5 [==============================] - 0s 3ms/step - loss: 5.0589 - accuracy: 0.3333
Epoch 6/100
5/5 [==============================] - 0s 3ms/step - loss: 4.9677 - accuracy: 0.3333
Epoch 7/100
5/5 [==============================] - 0s 3ms/step - loss: 4.8805 - accuracy: 0.3333
Epoch 8/100
5/5 [==============================] - 0s 3ms/step - loss: 4.7951 - accuracy: 0.3333
Epoch 9/100
5/5 [==============================] - 0s 3ms/step - loss: 4.7119 - accuracy: 0.3333
Epoch 10/100
5/5 [==============================] - 0s 3ms/step - loss: 4.6302 - accuracy: 0.3333
Epoch 11/100
5/5 [==============================] - 0s 3ms/step - loss: 4.5485 - accuracy: 0.3333
Epoch 12/100
5/5 [==============================] - 0s 4ms/step - loss: 4.4714 - accuracy: 0.3333
Epoch 13/100
5/5 [==============================] - 0s 2ms/step - loss: 4.3949 - accuracy: 0.3333
Epoch 14/100
5/5 [==============================] - 0s 4ms/step - loss: 4.3193 - accuracy: 0.3333
Epoch 15/100
5/5 [==============================] - 0s 3ms/step - loss: 4.2445 - accuracy: 0.3333
Epoch 16/100
5/5 [==============================] - 0s 4ms/step - loss: 4.1718 - accuracy: 0.3333
Epoch 17/100
5/5 [==============================] - 0s 3ms/step - loss: 4.1022 - accuracy: 0.3333
Epoch 18/100
5/5 [==============================] - 0s 4ms/step - loss: 4.0351 - accuracy: 0.3333
Epoch 19/100
5/5 [==============================] - 0s 3ms/step - loss: 3.9679 - accuracy: 0.3333
Epoch 20/100
5/5 [==============================] - 0s 4ms/step - loss: 3.9007 - accuracy: 0.3333
Epoch 21/100
5/5 [==============================] - 0s 3ms/step - loss: 3.8346 - accuracy: 0.3400
Epoch 22/100
5/5 [==============================] - 0s 3ms/step - loss: 3.7701 - accuracy: 0.3467
Epoch 23/100
5/5 [==============================] - 0s 4ms/step - loss: 3.7071 - accuracy: 0.3600
Epoch 24/100
5/5 [==============================] - 0s 3ms/step - loss: 3.6456 - accuracy: 0.3800
Epoch 25/100
5/5 [==============================] - 0s 3ms/step - loss: 3.5848 - accuracy: 0.4333
Epoch 26/100
5/5 [==============================] - 0s 4ms/step - loss: 3.5258 - accuracy: 0.4533
Epoch 27/100
5/5 [==============================] - 0s 2ms/step - loss: 3.4667 - accuracy: 0.5733
Epoch 28/100
5/5 [==============================] - 0s 2ms/step - loss: 3.4072 - accuracy: 0.6000
Epoch 29/100
5/5 [==============================] - 0s 3ms/step - loss: 3.3499 - accuracy: 0.6267
Epoch 30/100
5/5 [==============================] - 0s 4ms/step - loss: 3.2915 - accuracy: 0.6333
Epoch 31/100
5/5 [==============================] - 0s 4ms/step - loss: 3.2359 - accuracy: 0.6533
Epoch 32/100
5/5 [==============================] - 0s 3ms/step - loss: 3.1780 - accuracy: 0.6533
Epoch 33/100
5/5 [==============================] - 0s 3ms/step - loss: 3.1192 - accuracy: 0.6533
Epoch 34/100
5/5 [==============================] - 0s 4ms/step - loss: 3.0595 - accuracy: 0.6533
Epoch 35/100
5/5 [==============================] - 0s 3ms/step - loss: 3.0024 - accuracy: 0.6533
Epoch 36/100
5/5 [==============================] - 0s 4ms/step - loss: 2.9457 - accuracy: 0.6533
Epoch 37/100
5/5 [==============================] - 0s 4ms/step - loss: 2.8904 - accuracy: 0.6600
Epoch 38/100
5/5 [==============================] - 0s 4ms/step - loss: 2.8331 - accuracy: 0.6600
Epoch 39/100
5/5 [==============================] - 0s 3ms/step - loss: 2.7754 - accuracy: 0.6600
Epoch 40/100
5/5 [==============================] - 0s 4ms/step - loss: 2.7160 - accuracy: 0.6600
Epoch 41/100
5/5 [==============================] - 0s 3ms/step - loss: 2.6581 - accuracy: 0.6600
Epoch 42/100
5/5 [==============================] - 0s 3ms/step - loss: 2.6017 - accuracy: 0.6667
Epoch 43/100
5/5 [==============================] - 0s 4ms/step - loss: 2.5441 - accuracy: 0.6667
Epoch 44/100
5/5 [==============================] - 0s 3ms/step - loss: 2.4884 - accuracy: 0.6667
Epoch 45/100
5/5 [==============================] - 0s 3ms/step - loss: 2.4317 - accuracy: 0.6667
Epoch 46/100
5/5 [==============================] - 0s 4ms/step - loss: 2.3747 - accuracy: 0.6667
Epoch 47/100
5/5 [==============================] - 0s 3ms/step - loss: 2.3167 - accuracy: 0.6667
Epoch 48/100
5/5 [==============================] - 0s 4ms/step - loss: 2.2618 - accuracy: 0.6667
Epoch 49/100
5/5 [==============================] - 0s 4ms/step - loss: 2.2063 - accuracy: 0.6667
Epoch 50/100
5/5 [==============================] - 0s 3ms/step - loss: 2.1492 - accuracy: 0.6667
Epoch 51/100
5/5 [==============================] - 0s 3ms/step - loss: 2.0933 - accuracy: 0.6667
Epoch 52/100
5/5 [==============================] - 0s 7ms/step - loss: 2.0378 - accuracy: 0.6667
Epoch 53/100
5/5 [==============================] - 0s 3ms/step - loss: 1.9801 - accuracy: 0.6667
Epoch 54/100
5/5 [==============================] - 0s 6ms/step - loss: 1.9229 - accuracy: 0.6667
Epoch 55/100
5/5 [==============================] - 0s 3ms/step - loss: 1.8654 - accuracy: 0.6667
Epoch 56/100
5/5 [==============================] - 0s 3ms/step - loss: 1.8087 - accuracy: 0.6667
Epoch 57/100
5/5 [==============================] - 0s 5ms/step - loss: 1.7513 - accuracy: 0.6667
Epoch 58/100
5/5 [==============================] - 0s 3ms/step - loss: 1.6938 - accuracy: 0.6667
Epoch 59/100
5/5 [==============================] - 0s 3ms/step - loss: 1.6373 - accuracy: 0.6667
Epoch 60/100
5/5 [==============================] - 0s 3ms/step - loss: 1.5826 - accuracy: 0.6667
Epoch 61/100
5/5 [==============================] - 0s 3ms/step - loss: 1.5294 - accuracy: 0.6667
Epoch 62/100
5/5 [==============================] - 0s 3ms/step - loss: 1.4743 - accuracy: 0.6667
Epoch 63/100
5/5 [==============================] - 0s 3ms/step - loss: 1.4208 - accuracy: 0.6667
Epoch 64/100
5/5 [==============================] - 0s 3ms/step - loss: 1.3679 - accuracy: 0.6667
Epoch 65/100
5/5 [==============================] - 0s 3ms/step - loss: 1.3182 - accuracy: 0.6667
Epoch 66/100
5/5 [==============================] - 0s 3ms/step - loss: 1.2666 - accuracy: 0.6667
Epoch 67/100
5/5 [==============================] - 0s 4ms/step - loss: 1.2155 - accuracy: 0.6667
Epoch 68/100
5/5 [==============================] - 0s 3ms/step - loss: 1.1668 - accuracy: 0.6667
Epoch 69/100
5/5 [==============================] - 0s 4ms/step - loss: 1.1212 - accuracy: 0.6667
Epoch 70/100
5/5 [==============================] - 0s 3ms/step - loss: 1.0748 - accuracy: 0.6667
Epoch 71/100
5/5 [==============================] - 0s 4ms/step - loss: 1.0294 - accuracy: 0.6667
Epoch 72/100
5/5 [==============================] - 0s 3ms/step - loss: 0.9869 - accuracy: 0.6667
Epoch 73/100
5/5 [==============================] - 0s 3ms/step - loss: 0.9474 - accuracy: 0.6667
Epoch 74/100
5/5 [==============================] - 0s 4ms/step - loss: 0.9098 - accuracy: 0.6667
Epoch 75/100
5/5 [==============================] - 0s 4ms/step - loss: 0.8736 - accuracy: 0.6667
Epoch 76/100
5/5 [==============================] - 0s 3ms/step - loss: 0.8409 - accuracy: 0.6667
Epoch 77/100
5/5 [==============================] - 0s 4ms/step - loss: 0.8123 - accuracy: 0.6667
Epoch 78/100
5/5 [==============================] - 0s 4ms/step - loss: 0.7852 - accuracy: 0.6600
Epoch 79/100
5/5 [==============================] - 0s 4ms/step - loss: 0.7618 - accuracy: 0.6667
Epoch 80/100
5/5 [==============================] - 0s 3ms/step - loss: 0.7406 - accuracy: 0.6867
Epoch 81/100
5/5 [==============================] - 0s 4ms/step - loss: 0.7230 - accuracy: 0.7200
Epoch 82/100
5/5 [==============================] - 0s 3ms/step - loss: 0.7082 - accuracy: 0.8000
Epoch 83/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6954 - accuracy: 0.8333
Epoch 84/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6846 - accuracy: 0.8800
Epoch 85/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6751 - accuracy: 0.8933
Epoch 86/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6678 - accuracy: 0.9067
Epoch 87/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6615 - accuracy: 0.8867
Epoch 88/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6562 - accuracy: 0.9000
Epoch 89/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6522 - accuracy: 0.8800
Epoch 90/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6485 - accuracy: 0.8800
Epoch 91/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6443 - accuracy: 0.8600
Epoch 92/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6409 - accuracy: 0.8067
Epoch 93/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6374 - accuracy: 0.8200
Epoch 94/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6342 - accuracy: 0.8200
Epoch 95/100
5/5 [==============================] - 0s 5ms/step - loss: 0.6306 - accuracy: 0.8400
Epoch 96/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6270 - accuracy: 0.8000
Epoch 97/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6241 - accuracy: 0.8467
Epoch 98/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6209 - accuracy: 0.7933
Epoch 99/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6175 - accuracy: 0.8067
Epoch 100/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6145 - accuracy: 0.8067

# 모델의 이용

In [34]:
# 4. 모델을 이용합니다
print(model.predict(X[0:5]))
# 종속변수 확인
print(y[0:5])

[[0.7036555  0.246197   0.05014746]
 [0.67883766 0.24787883 0.07328353]
 [0.68286675 0.25287497 0.06425835]
 [0.63316655 0.28838047 0.07845291]
 [0.69573545 0.25598717 0.04827735]]
   품종_setosa  품종_versicolor  품종_virginica
0          1              0             0
1          1              0             0
2          1              0             0
3          1              0             0
4          1              0             0

In [35]:
# 모델의 수식 확인
print(model.get_weights())

[array([[ 0.42727396,  0.00686185,  0.02463854],
       [ 0.20921753,  0.29195246, -0.46027818],
       [-0.8932829 , -0.02736302, -0.05358406],
       [-1.023183  , -1.2029307 , -0.18261777]], dtype=float32), array([-0.02727837, -0.39924404,  0.38438493], dtype=float32)]