[github link](https://github.com/blackdew/tensorflow1)

In [10]:
import pandas as pd
import tensorflow as tf

# 1. 데이터 준비

In [2]:
lemonade = pd.read_csv('lemonade.csv')
lemonade

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48
5  25   50

In [3]:
boston = pd.read_csv('boston.csv')
boston

        crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [4]:
iris = pd.read_csv('iris.csv')
iris

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭         품종
0     5.1  3.5    1.4   0.2     setosa
1     4.9  3.0    1.4   0.2     setosa
2     4.7  3.2    1.3   0.2     setosa
3     4.6  3.1    1.5   0.2     setosa
4     5.0  3.6    1.4   0.2     setosa
..    ...  ...    ...   ...        ...
145   6.7  3.0    5.2   2.3  virginica
146   6.3  2.5    5.0   1.9  virginica
147   6.5  3.0    5.2   2.0  virginica
148   6.2  3.4    5.4   2.3  virginica
149   5.9  3.0    5.1   1.8  virginica

[150 rows x 5 columns]

In [5]:
print(lemonade.shape)
print(boston.shape)
print(iris.shape)

(6, 2)
(506, 14)
(150, 5)

In [19]:
# 컬럼이름 출력
print(lemonade.columns)
print(boston.columns)
print(boston.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [20]:
X = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
            'ptratio', 'b', 'lstat']]
y = boston[['medv']]
print(X.shape, y.shape)

(506, 13) (506, 1)

In [21]:
boston.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

# 모델의 구조

In [22]:
X_input = tf.keras.layers.Input(shape=[13])
Y_output = tf.keras.layers.Dense(1)(X_input)
model = tf.keras.models.Model(X_input, Y_output)
model.compile(loss='mse')

# 모델의 학습

In [23]:
#model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(X, y, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 47013.3008
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 39975.0859
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 34436.6016
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 29408.3516
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 24810.3359
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 20648.6367
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 16902.6191
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 13552.9648
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 10621.8027
Epoch 10/10
16/16 [==============================] - 0s 2ms/step - loss: 8100.7798

# 모델의 이용

In [25]:
# 4. 모델을 이용합니다
print(model.predict(X[5:10]))
# 종속변수 확인
print(y[5:10])

[[-29.645388]
 [-40.891647]
 [-19.027472]
 [-12.201826]
 [-25.224514]]
   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [26]:
# 모델의 수식 확인
print(model.get_weights())

[array([[ 0.79127663],
       [-0.19535515],
       [ 0.11445335],
       [ 0.11581158],
       [-0.17687154],
       [-0.00453212],
       [ 0.66204894],
       [ 0.7162987 ],
       [-0.46154895],
       [-0.18497153],
       [-0.24811381],
       [-0.07032122],
       [ 0.3127982 ]], dtype=float32), array([0.16038963], dtype=float32)]