[github link](https://github.com/blackdew/tensorflow1)

In [10]:
import pandas as pd
import tensorflow as tf

# 1. 데이터 준비

In [2]:
lemonade = pd.read_csv('lemonade.csv')
lemonade

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48
5  25   50

In [3]:
boston = pd.read_csv('boston.csv')
boston

        crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [4]:
iris = pd.read_csv('iris.csv')
iris

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭         품종
0     5.1  3.5    1.4   0.2     setosa
1     4.9  3.0    1.4   0.2     setosa
2     4.7  3.2    1.3   0.2     setosa
3     4.6  3.1    1.5   0.2     setosa
4     5.0  3.6    1.4   0.2     setosa
..    ...  ...    ...   ...        ...
145   6.7  3.0    5.2   2.3  virginica
146   6.3  2.5    5.0   1.9  virginica
147   6.5  3.0    5.2   2.0  virginica
148   6.2  3.4    5.4   2.3  virginica
149   5.9  3.0    5.1   1.8  virginica

[150 rows x 5 columns]

In [5]:
print(lemonade.shape)
print(boston.shape)
print(iris.shape)

(6, 2)
(506, 14)
(150, 5)

In [27]:
# 컬럼이름 출력
print(lemonade.columns)
print(boston.columns)
print(iris.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [29]:
iris_encoding = pd.get_dummies(iris)
iris_encoding.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0
2   4.7  3.2    1.3   0.2          1              0             0
3   4.6  3.1    1.5   0.2          1              0             0
4   5.0  3.6    1.4   0.2          1              0             0

In [30]:
X = iris_encoding[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
y = iris_encoding[['품종_setosa', '품종_versicolor', '품종_virginica']]
print(X.shape, y.shape)

(150, 4) (150, 3)

In [31]:
iris_encoding.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0
2   4.7  3.2    1.3   0.2          1              0             0
3   4.6  3.1    1.5   0.2          1              0             0
4   5.0  3.6    1.4   0.2          1              0             0

# 모델의 구조

In [36]:
X_input = tf.keras.layers.Input(shape=[4])
H = tf.keras.layers.Dense(8, activation="swish")(X_input)
H = tf.keras.layers.Dense(8, activation="swish")(H)
H = tf.keras.layers.Dense(8, activation="swish")(H)
Y_output = tf.keras.layers.Dense(3, activation='softmax')(H)
model = tf.keras.models.Model(X_input, Y_output)
model.compile(loss='categorical_crossentropy',
              metrics='accuracy')

In [37]:
model.summary()

Model: "model_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_6 (InputLayer)         [(None, 4)]               0
_________________________________________________________________
dense_3 (Dense)              (None, 8)                 40
_________________________________________________________________
dense_4 (Dense)              (None, 8)                 72
_________________________________________________________________
dense_5 (Dense)              (None, 8)                 72
_________________________________________________________________
dense_6 (Dense)              (None, 3)                 27
=================================================================
Total params: 211
Trainable params: 211
Non-trainable params: 0
_________________________________________________________________

# 모델의 학습

In [38]:
#model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(X, y, epochs=100)

Epoch 1/100
5/5 [==============================] - 1s 4ms/step - loss: 1.0456 - accuracy: 0.3333
Epoch 2/100
5/5 [==============================] - 0s 3ms/step - loss: 1.0254 - accuracy: 0.3400
Epoch 3/100
5/5 [==============================] - 0s 3ms/step - loss: 1.0075 - accuracy: 0.4400
Epoch 4/100
5/5 [==============================] - 0s 4ms/step - loss: 0.9911 - accuracy: 0.5067
Epoch 5/100
5/5 [==============================] - 0s 4ms/step - loss: 0.9720 - accuracy: 0.5867
Epoch 6/100
5/5 [==============================] - 0s 5ms/step - loss: 0.9519 - accuracy: 0.6933
Epoch 7/100
5/5 [==============================] - 0s 3ms/step - loss: 0.9303 - accuracy: 0.6933
Epoch 8/100
5/5 [==============================] - 0s 4ms/step - loss: 0.9067 - accuracy: 0.7667
Epoch 9/100
5/5 [==============================] - 0s 3ms/step - loss: 0.8828 - accuracy: 0.8200
Epoch 10/100
5/5 [==============================] - 0s 3ms/step - loss: 0.8568 - accuracy: 0.7667
Epoch 11/100
5/5 [==============================] - 0s 3ms/step - loss: 0.8308 - accuracy: 0.8200
Epoch 12/100
5/5 [==============================] - 0s 3ms/step - loss: 0.8056 - accuracy: 0.8600
Epoch 13/100
5/5 [==============================] - 0s 3ms/step - loss: 0.7787 - accuracy: 0.8800
Epoch 14/100
5/5 [==============================] - 0s 4ms/step - loss: 0.7517 - accuracy: 0.8667
Epoch 15/100
5/5 [==============================] - 0s 4ms/step - loss: 0.7252 - accuracy: 0.8667
Epoch 16/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6986 - accuracy: 0.9267
Epoch 17/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6724 - accuracy: 0.9133
Epoch 18/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6464 - accuracy: 0.9133
Epoch 19/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6227 - accuracy: 0.9467
Epoch 20/100
5/5 [==============================] - 0s 4ms/step - loss: 0.5970 - accuracy: 0.9600
Epoch 21/100
5/5 [==============================] - 0s 3ms/step - loss: 0.5741 - accuracy: 0.9600
Epoch 22/100
5/5 [==============================] - 0s 4ms/step - loss: 0.5505 - accuracy: 0.9467
Epoch 23/100
5/5 [==============================] - 0s 5ms/step - loss: 0.5264 - accuracy: 0.9733
Epoch 24/100
5/5 [==============================] - 0s 3ms/step - loss: 0.5046 - accuracy: 0.9733
Epoch 25/100
5/5 [==============================] - 0s 4ms/step - loss: 0.4806 - accuracy: 0.9733
Epoch 26/100
5/5 [==============================] - 0s 4ms/step - loss: 0.4574 - accuracy: 0.9733
Epoch 27/100
5/5 [==============================] - 0s 5ms/step - loss: 0.4376 - accuracy: 0.9600
Epoch 28/100
5/5 [==============================] - 0s 3ms/step - loss: 0.4148 - accuracy: 0.9733
Epoch 29/100
5/5 [==============================] - 0s 3ms/step - loss: 0.3928 - accuracy: 0.9800
Epoch 30/100
5/5 [==============================] - 0s 3ms/step - loss: 0.3745 - accuracy: 0.9800
Epoch 31/100
5/5 [==============================] - 0s 3ms/step - loss: 0.3548 - accuracy: 0.9733
Epoch 32/100
5/5 [==============================] - 0s 3ms/step - loss: 0.3388 - accuracy: 0.9600
Epoch 33/100
5/5 [==============================] - 0s 4ms/step - loss: 0.3206 - accuracy: 0.9733
Epoch 34/100
5/5 [==============================] - 0s 4ms/step - loss: 0.3035 - accuracy: 0.9800
Epoch 35/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2917 - accuracy: 0.9800
Epoch 36/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2796 - accuracy: 0.9800
Epoch 37/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2623 - accuracy: 0.9800
Epoch 38/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2491 - accuracy: 0.9733
Epoch 39/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2360 - accuracy: 0.9800
Epoch 40/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2275 - accuracy: 0.9800
Epoch 41/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2142 - accuracy: 0.9800
Epoch 42/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2042 - accuracy: 0.9733
Epoch 43/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1991 - accuracy: 0.9600
Epoch 44/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1885 - accuracy: 0.9800
Epoch 45/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1785 - accuracy: 0.9800
Epoch 46/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1721 - accuracy: 0.9800
Epoch 47/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1664 - accuracy: 0.9800
Epoch 48/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1575 - accuracy: 0.9800
Epoch 49/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1545 - accuracy: 0.9800
Epoch 50/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1469 - accuracy: 0.9800
Epoch 51/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1419 - accuracy: 0.9800
Epoch 52/100
5/5 [==============================] - 0s 5ms/step - loss: 0.1412 - accuracy: 0.9800
Epoch 53/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1336 - accuracy: 0.9733
Epoch 54/100
5/5 [==============================] - 0s 5ms/step - loss: 0.1297 - accuracy: 0.9800
Epoch 55/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1237 - accuracy: 0.9800
Epoch 56/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1221 - accuracy: 0.9733
Epoch 57/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1184 - accuracy: 0.9800
Epoch 58/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1169 - accuracy: 0.9733
Epoch 59/100
5/5 [==============================] - 0s 6ms/step - loss: 0.1157 - accuracy: 0.9800
Epoch 60/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1094 - accuracy: 0.9733
Epoch 61/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1080 - accuracy: 0.9800
Epoch 62/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1039 - accuracy: 0.9800
Epoch 63/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1060 - accuracy: 0.9667
Epoch 64/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0988 - accuracy: 0.9800
Epoch 65/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0991 - accuracy: 0.9733
Epoch 66/100
5/5 [==============================] - 0s 5ms/step - loss: 0.0965 - accuracy: 0.9800
Epoch 67/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0935 - accuracy: 0.9800
Epoch 68/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0941 - accuracy: 0.9733
Epoch 69/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0930 - accuracy: 0.9800
Epoch 70/100
5/5 [==============================] - 0s 6ms/step - loss: 0.0893 - accuracy: 0.9800
Epoch 71/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0867 - accuracy: 0.9800
Epoch 72/100
5/5 [==============================] - 0s 5ms/step - loss: 0.0888 - accuracy: 0.9800
Epoch 73/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0852 - accuracy: 0.9867
Epoch 74/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0878 - accuracy: 0.9800
Epoch 75/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0828 - accuracy: 0.9867
Epoch 76/100
5/5 [==============================] - 0s 5ms/step - loss: 0.0833 - accuracy: 0.9733
Epoch 77/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0808 - accuracy: 0.9733
Epoch 78/100
5/5 [==============================] - 0s 7ms/step - loss: 0.0814 - accuracy: 0.9800
Epoch 79/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0808 - accuracy: 0.9800
Epoch 80/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0807 - accuracy: 0.9800
Epoch 81/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0840 - accuracy: 0.9733
Epoch 82/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0766 - accuracy: 0.9800
Epoch 83/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0744 - accuracy: 0.9800
Epoch 84/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0790 - accuracy: 0.9733
Epoch 85/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0742 - accuracy: 0.9800
Epoch 86/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0767 - accuracy: 0.9800
Epoch 87/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0782 - accuracy: 0.9733
Epoch 88/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0745 - accuracy: 0.9733
Epoch 89/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0763 - accuracy: 0.9867
Epoch 90/100
5/5 [==============================] - 0s 5ms/step - loss: 0.0721 - accuracy: 0.9867
Epoch 91/100
5/5 [==============================] - 0s 5ms/step - loss: 0.0763 - accuracy: 0.9800
Epoch 92/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0765 - accuracy: 0.9800
Epoch 93/100
5/5 [==============================] - 0s 5ms/step - loss: 0.0692 - accuracy: 0.9867
Epoch 94/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0741 - accuracy: 0.9800
Epoch 95/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0712 - accuracy: 0.9800
Epoch 96/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0694 - accuracy: 0.9800
Epoch 97/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0692 - accuracy: 0.9867
Epoch 98/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0736 - accuracy: 0.9867
Epoch 99/100
5/5 [==============================] - 0s 5ms/step - loss: 0.0689 - accuracy: 0.9800
Epoch 100/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0720 - accuracy: 0.9733

# 모델의 이용

In [39]:
# 4. 모델을 이용합니다
print(model.predict(X[0:5]))
# 종속변수 확인
print(y[0:5])

[[9.9997067e-01 2.9330218e-05 7.5487208e-09]
 [9.9973661e-01 2.6333798e-04 4.2853390e-08]
 [9.9992573e-01 7.4202653e-05 3.3196059e-08]
 [9.9965084e-01 3.4903520e-04 1.3109562e-07]
 [9.9997807e-01 2.1988229e-05 8.4630853e-09]]
   품종_setosa  품종_versicolor  품종_virginica
0          1              0             0
1          1              0             0
2          1              0             0
3          1              0             0
4          1              0             0

In [41]:
# 모델의 수식 확인
print(model.get_weights())

[array([[-0.36232078,  0.7684932 ,  0.0173253 ,  0.1977645 ,  0.6721117 ,
         0.573933  , -0.2126648 ,  0.48371172],
       [ 0.26080912, -0.00344209, -0.01647413, -0.03490474, -0.64999   ,
        -0.7590039 , -0.02291995,  0.4429687 ],
       [ 0.37307227, -0.68076354, -0.34917513, -0.15281112,  0.53723985,
         0.34800828,  0.22218864, -0.3670107 ],
       [ 0.8345953 ,  0.23123533, -0.5446936 , -0.1851367 , -0.18503293,
        -0.04015733,  0.8053701 , -0.22556989]], dtype=float32), array([-0.04352738,  0.21484762,  0.18983041,  0.13576692,  0.03876247,
       -0.06139423,  0.13329732,  0.28506187], dtype=float32), array([[ 0.00903327,  0.17712797,  0.74992925, -0.01282943, -0.49715114,
        -0.40335244, -0.5303853 , -0.64407957],
       [-0.41181168,  0.17298716, -0.09300851,  0.8768665 ,  0.30388105,
         0.6232342 ,  0.49033007,  0.06228764],
       [ 0.29013556,  0.36606506,  0.48740983, -0.56871367, -0.01286453,
        -0.574206  , -0.05223751, -0.42331013],
       [-0.5996932 , -0.10691861, -0.46426484,  0.566276  , -0.66804636,
        -0.35935414,  0.3024539 ,  0.47183132],
       [ 0.62338305,  0.20203938, -0.19405796, -0.39674744, -0.15797047,
         0.44755512, -0.24796297, -0.6472808 ],
       [ 0.65123814,  0.24096347,  0.56843674, -0.17177573, -0.47392944,
         0.26516244, -0.58603513, -0.72571236],
       [ 0.12449004,  0.40579608,  0.34771365, -0.76639324, -0.09889917,
        -0.252592  , -0.55462337, -0.7010884 ],
       [-0.03279196, -0.11959565,  0.21848893,  0.73131305,  0.11483016,
         0.67035294,  0.31812975, -0.23145878]], dtype=float32), array([-0.01550922, -0.19270834, -0.14963739,  0.28089392, -0.144372  ,
        0.116607  ,  0.11941742,  0.13507743], dtype=float32), array([[-0.6605936 , -0.09485249,  0.53520614,  0.1264618 , -0.5648668 ,
        -0.17075941, -0.13705504, -0.42297325],
       [-0.13189629, -0.37043023,  0.42091465,  0.30670202, -0.13928244,
        -0.4211107 ,  0.13095048,  0.17834485],
       [ 0.22526671, -0.58075285,  0.01778852,  0.77986276, -0.64726853,
        -0.22183701, -0.8711737 ,  0.55414784],
       [ 0.9581463 , -0.12530997, -0.8489469 , -0.37889054,  0.25019467,
        -0.14054158,  1.0063725 , -0.5674089 ],
       [-0.16507638, -0.26451564, -0.6175266 ,  0.20643549,  0.3019327 ,
        -0.45932707, -0.69228953,  0.32919908],
       [ 0.01941137,  0.51157576,  0.09975007,  0.24949673,  0.17240734,
         0.543915  ,  0.6470795 , -0.32904297],
       [ 0.53751147, -0.6843723 , -0.20021932, -0.6467588 ,  0.8202911 ,
        -0.875727  , -0.23135139,  0.28024003],
       [-0.9512048 ,  0.06921496,  0.64546704,  0.06829087, -0.7089037 ,
         0.02631949, -0.01741719, -0.254157  ]], dtype=float32), array([ 0.27999958,  0.24303275,  0.22030139,  0.17519677,  0.2845048 ,
        0.18086983,  0.04787172, -0.04563649], dtype=float32), array([[ 0.7041486 , -0.6298836 , -0.67827713],
       [-0.4483118 ,  1.0433909 , -1.0033894 ],
       [-1.0067006 , -0.43669105,  0.41696882],
       [-0.56148523, -0.1639704 ,  0.11491539],
       [ 1.0523239 ,  0.06621039,  0.6066131 ],
       [-1.0162895 ,  0.06419878, -0.7522597 ],
       [ 0.30708608,  0.6342436 , -0.5005239 ],
       [ 0.36258382,  0.15758877, -0.3644646 ]], dtype=float32), array([-0.34906211,  0.04362787,  0.09192505], dtype=float32)]